<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Recuperar contraseña</title>
    </head>
    <body>
        <img src="https://res.cloudinary.com/dzajaf1mv/image/upload/v1710649605/x6j4zynm1ufdx6bpshtz.svg">
        <h1>Recuperar contraseña de %{name}%</h1>
        <p>Ingresa al siguiente link para recuperar la contraseña:</p>
        <a href="/">%{passkey}%</a>
        <h3>Este enlace caduca en aproximadamente <b>1 hora</b>, puedes solicitar uno nuevo en el URL:  <a href="/">Direccion</a></h3>
        <p>Si no solicitaste cambio de contraseña, haz caso omiso a este correo</p>
    </body>
</html>